body {
  margin: 0;
  background-color: black;
}
#nav {
  position: sticky;
  top: 0;
}
.nav_div {
  display: flex;
  padding: 0.5rem;
  background-color: black;
}
.nav_button {
  margin: 0.5rem;
  align-self: center;
}
.nav_button a {
  color: goldenrod;
  font-weight: 1000;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav_button a:hover {
  color: rgb(247, 203, 94);
}
.nav_button a:active {
  color: rgb(172, 147, 85);
}
.home {
  background-image: url("images/home_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;
}
.home_text {
  width: 60%;
  padding: 5% 5% 0% 5%;
}
.home h1 {
  color: white;
  text-shadow: 0px 0px 10px gold;
  font-size: 3rem;
}
.home h2 {
  color: rgb(255 233 79);
  text-shadow: 2px 2px 3px blue;
  font-size: 2rem;
}
.shop {
  color: rgb(255 217 30);
  background-image: url("images/background.svg");
}
#shop_1 {
  display: flex;
  justify-content: center;
}
#shop_2 {
  display: none;
  justify-content: center;
}
.shop_1,
.shop_2 {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.shop_3 {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.shop_item {
  margin: 1rem 4rem;
  background-image: radial-gradient(rgb(0, 0, 0, 0.8) 60%, rgb(0, 0, 0, 0));
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}
.shop_item img {
  margin: 3rem;
  border: 0.5rem solid rgb(255 200 0);
  border-radius: 30px;
}
.shop_item h3 {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
}
.shop_item p {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}
.shop_item button {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
  background: #fff86e;
  background-image: linear-gradient(to bottom, #fff86e, #fff86b);
  border: none;
  border-radius: 28px;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.shop_item button:hover {
  background: #ebe378;
  background-image: linear-gradient(to bottom, #ebe378, #c9c35b);
  text-decoration: none;
}
.shop_item button:active {
  background: #c5bf66;
  background-image: linear-gradient(to bottom, #c5bf66, #a39f4a);
  text-decoration: none;
}
#about {
  color: whitesmoke;
  margin: 1% 5%;
}
#item_details {
  /* display: none; */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-image: radial-gradient(goldenrod, rgb(0, 0, 0, 0.8) 80%);
  color: whitesmoke;
}
.item_details_top_buffer {
  height: 10%;
}
.item_details_main {
  width: 90%;
  height: 80%;
  margin-left: 3%;
  padding: 0 1rem;
  border-radius: 10px;
  border: 5px solid goldenrod;
  background-color: rgb(27, 27, 27);
  overflow-y: scroll;
}
.item_details_main img {
  height: 50vh;
  margin-left: 1rem;
  margin-right: 3rem;
  border-radius: 5px;
  border: 3px solid rgb(255, 0, 212);
}
.item_details_main p {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.item_details_main_button {
  margin: 0.5rem;
  text-align: center;
}
.item_details_main_button a {
  color: goldenrod;
  font-weight: 1000;
  text-decoration: none;
  font-size: 2.5rem;
}
.item_details_main_button a:hover {
  color: rgb(247, 203, 94);
  background-image: radial-gradient(
    rgb(218, 165, 32, 0.5),
    rgb(0, 0, 0, 0) 50%
  );
}
.item_details_main_button a:active {
  color: rgb(172, 147, 85);
}
.item_details_main_close_button {
  align-self: center;
  cursor: pointer;
}
.item_details_main_close_button:hover {
  background-image: radial-gradient(
    rgba(218, 44, 32, 0.5),
    rgb(0, 0, 0, 0) 60%
  );
}
