:root {
  --main-color: rgb(143, 35, 54);
  --text-color: rgb(255, 255, 255);
  --bg-color: rgb(0, 0, 0);
  /* --home-bg-img-url: url("images/home_background.jpg"); */
  --home-bg-img-url: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/67876740851429.578fa00f361e8.jpg");

  /* Navigation Bar */
  --nav-bg-color: rgba(0, 0, 0, 0.1);
  --nav-box-shadow-color: rgba(50, 15, 55, 0.1);
  --nav-text-color: goldenrod;
  --nav-text-color-hover: rgb(247, 203, 94);
  --nav-text-color-active: rgb(172, 147, 85);

  /* Scrollbar */
  --scrollbar-bg-color: darkgrey;
  --scrollbar-outline-color: slategrey;

  /* Shop */
  --shop-bg-img-url: url("images/background.svg");

  /* Shop Items */
  --shop-items-bg-img-url: var(--shop-bg-img-url);

  /* Shop Item Button */
  --shop-item-bg-color: whitesmoke;
  --shop-item-bg-color-hover: rgb(231, 231, 231);
  --shop-item-bg-color-active: rgb(199, 199, 199);

  /* Item Details */
  --item-details-bg-color: rgb(56, 56, 56);
  --item-details-text-color: whitesmoke;
  --item-details-shop-button-color: var(--nav-text-color);
  --item-details-shop-button-color-hover: var(--nav-text-color-hover);
  --item-details-shop-button-color-active: var(--nav-text-color-active);

  /* About Us */
  --about-text-color: black;
  --about-bg-img-url: url("https://media.istockphoto.com/id/1304225026/photo/top-view-of-mobile-phone-glasses-pen-and-notebook-written-with-about-us-on-wooden-background.jpg?s=612x612&w=0&k=20&c=YhbAlzZONGfWt-Qm5W10Z0-Z8waHkblhtZEbRh4E0bM=");
}
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  scroll-snap-type: y proximity;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  /* scroll-snap-type: y mandatory; */
  scroll-snap-type: y proximity;
}
h1 {
  margin: 0;
}

/* Scroolbar */
body::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-color);
  border-radius: 5px;
  outline: 1px solid var(--scrollbar-outline-color);
}

/* Page Section */
.page {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

/* Navigation Bar */
#nav {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.2s ease-out;
}
#nav.shadow {
  background: var(--nav-bg-color);
  box-shadow: 4px 4px 20px var(--nav-box-shadow-color);
  transition: 0.5s ease;
}
#nav .nav_div .nav_div {
  height: 15vh;
  transition: height 0.5s;
}
#nav.shadow .nav_div .nav_div {
  height: 5vh;
}
#nav img {
  height: 5vw;
  transition: 0.5s ease;
}
#nav img.large {
  height: 20vw;
  transition: 0.5s ease-out;
}
.nav_div {
  display: flex;
  padding: 0.5rem;
  justify-content: space-evenly;
  /* background-color: black; */
}
.nav_button {
  margin: 0.5rem;
  align-self: center;
}
.nav_button a {
  color: var(--nav-text-color);
  font-weight: 1000;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav_button a:hover {
  color: var(--nav-text-color-hover);
}
.nav_button a:active {
  color: var(--nav-text-color-active);
}

/* Home Page */
.home {
  background-image: var(--home-bg-img-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 30%;
  background-position-y: 90%;
}
.home div {
  position: absolute;
  top: 40%;
  left: 60%;
}
.home h1 {
  color: white;
  text-shadow: 0px 0px 10px gold;
  font-size: 6rem;
}

/* Shop Page */
.shop {
  /* color: rgb(255 217 30); */
  background-image: var(--shop-bg-img-url);
}
.shop .item {
  margin-top: 2rem;
  width: 20vw;
  height: 39vh;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--shop-item-bg-color);
  background-color: var(--shop-item-bg-color);
  border-radius: 10px;
  transition-property: "background", "border-color";
  transition-duration: 0.1s;
}
.shop .item:hover {
  background: var(--shop-item-bg-color-hover);
  border-color: var(--shop-item-bg-color-hover);
}
.shop .item:active {
  background: var(--shop-item-bg-color-active);
  border-color: var(--shop-item-bg-color-active);
}
.shop .item img {
  height: 30vh;
  border-radius: 30px;
}
.shop .item h3 {
  font-size: 2rem;
  text-align: center;
}

/* Shop Items */
.shop_items_main {
  background-image: var(--shop-items-bg-img-url);
}
.shop_items_page {
  height: 90vh;
  overflow-x: scroll;
}
.shop_items_page::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.shop_items_page::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.shop_items_page::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-color);
  border-radius: 5px;
  outline: 1px solid var(--scrollbar-outline-color);
}
.shop_items {
  display: flex;
  height: 88vh;
  width: 99vw;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.shop_item {
  margin: 1rem 1rem;
  width: 20vw;
  height: 39vh;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--shop-item-bg-color);
  background-color: var(--shop-item-bg-color);
  border-radius: 10px;
  transition-property: "background", "border-color";
  transition-duration: 0.1s;
}
.shop_item img {
  height: 30vh;
  border-radius: 30px;
}
.shop_item h3 {
  font-size: 1rem;
  text-align: center;
}
.shop_item:hover {
  background: var(--shop-item-bg-color-hover);
  border-color: var(--shop-item-bg-color-hover);
}
.shop_item:active {
  background: var(--shop-item-bg-color-active);
  border-color: var(--shop-item-bg-color-active);
}

/* Item Details Page */
.item_details {
  background-color: var(--item-details-bg-color);
  color: var(--item-details-text-color);
}
.item_details_main {
  width: 90%;
  padding: 0 1rem;
}
.item_details_main img {
  height: 30vh;
  margin-left: 1rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
}
.item_details_main p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.item_details_main_data {
  height: 70%;
  margin: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.item_details_main_data::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.item_details_main_data::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.item_details_main_data::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-color);
  border-radius: 5px;
  outline: 1px solid var(--scrollbar-outline-color);
}
.item_details_shop_button {
  margin: 0.5rem;
  text-align: center;
}
.item_details_shop_button a {
  color: var(--item-details-shop-button-color);
  font-weight: 1000;
  text-decoration: none;
  font-size: 2.5rem;
}
.item_details_shop_button a:hover {
  color: var(--item-details-shop-button-color-hover);
}
.item_details_shop_button a:active {
  color: var(--item-details-shop-button-color-active);
}

/* About Page */
#about {
  color: var(--about-text-color);
  font-size: 1.3rem;
  background-image: var(--about-bg-img-url);
  background-repeat: no-repeat;
  background-size: cover;
}
#about div {
  padding: 13% 40% 10% 5%;
}

.hidden {
  display: none;
}
